ONE HOT ENCODING

In [12]:
import pandas as pd 
import numpy as np

In [13]:
df=pd.read_csv('cars.csv')
df.sample(5)

        brand  km_driven    fuel        owner  selling_price
1866   Maruti      16589  Petrol  First Owner         430000
6999   Toyota      40000  Petrol  First Owner        1500000
7930    Volvo      17000  Diesel  First Owner        5500000
4414   Jaguar       9000  Diesel  First Owner        2711000
7848  Renault      21000  Petrol  First Owner         290000

one hot encoding using pandas

In [14]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

one hot encoding using sklearn

ste 1: train test split

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,:4],df.iloc[:,-1],test_size=0.2)

step 2: one hot encoding

In [22]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop='first', sparse_output=False)

x_train_new=ohe.fit_transform(x_train[['fuel','owner']])
x_test_new=ohe.fit_transform(x_test[['fuel','owner']])
x_train_new.shape,x_test_new.shape

((6502, 7), (1626, 7))

step 3: adding x_train_new with the other columns of input columns

In [ ]:
df_new=np.hstack((x_train[['brand','km_driven']].values,x_train_new))

array([['Chevrolet', 51000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Hyundai', 50000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Renault', 30000, 0.0, ..., 0.0, 0.0, 0.0],
       ...,
       ['Maruti', 140000, 0.0, ..., 0.0, 0.0, 0.0],
       ['Land', 64788, 1.0, ..., 0.0, 0.0, 0.0],
       ['Mahindra', 105000, 1.0, ..., 1.0, 0.0, 0.0]],
      shape=(6502, 9), dtype=object)