ENCODING CATEGORICAL DATA

In [1]:
import pandas as pd 
import numpy as np

In [ ]:
df=pd.read_csv('customer.csv')
df.sample(5)

    age  gender   review education purchased
16   59    Male     Poor        UG       Yes
43   27    Male     Poor        PG        No
30   73    Male  Average        UG        No
1    68  Female     Poor        UG        No
11   74    Male     Good        UG       Yes

step 1: extracting the ordinal columns

In [22]:
df=df.iloc[:,2:]
df.sample(5)

     review education purchased
33     Good        PG       Yes
9      Good        UG       Yes
6      Good    School        No
13  Average    School        No
41     Good        PG       Yes

step 2: train test split

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,:2],df.iloc[:,2],test_size=0.3)

step 3: ordinal encoding

In [25]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
oe.fit(x_train)

x_train=oe.transform(x_train)
x_test=oe.transform(x_test)

step 4: converting the array into data frame

In [29]:
x_train=pd.DataFrame(x_train,columns=['review','education'])
x_test=pd.DataFrame(x_test,columns=['review','education'])
x_train.sample(5)

    review  education
1      1.0        2.0
12     0.0        2.0
2      1.0        0.0
3      0.0        1.0
31     0.0        1.0

STEP 5 :LABEL ENCODING

In [33]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

le.fit(y_train)

y_train=le.transform(y_train)
y_test=le.transform(y_test)

y_train=pd.DataFrame(y_train,columns=['purchased'])
y_test=pd.DataFrame(y_test,columns=['purchased'])
y_train.sample(5)

    purchased
31          0
5           1
4           0
24          0
19          1