KNN IMPUTER

In [6]:
import numpy as np 
import pandas as pd 

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

step 2: loading data set

In [8]:
df=pd.read_csv('train.csv',usecols=['Age','Pclass','Fare','Survived'])
df.sample(5)

     Survived  Pclass   Age      Fare
131         0       3  20.0    7.0500
30          0       1  40.0   27.7208
770         0       3  24.0    9.5000
299         1       1  50.0  247.5208
450         0       2  36.0   27.7500

step 3: finding missing value percentage in each column

In [10]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

step 4:train test split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,1:],df.iloc[:,0],test_size=0.2)
x_train

     Pclass   Age      Fare
462       1  47.0   38.5000
567       3  29.0   21.0750
351       1   NaN   35.0000
742       1  21.0  262.3750
632       1  32.0   30.5000
..      ...   ...       ...
587       1  60.0   79.2000
97        1  23.0   63.3583
208       3  16.0    7.7500
260       3   NaN    7.7500
843       3  34.5    6.4375

[712 rows x 3 columns]

step 5:applying knn imputer

In [29]:
knn=KNNImputer()
x_train_trf=knn.fit_transform(x_train)
x_test_trf=knn.transform(x_test)

step 6:converting above x_train into dataframe

In [34]:
x_train_trf=pd.DataFrame(x_train_trf,columns=x_train.columns)
x_test_trf=pd.DataFrame(x_test_trf,columns=x_test.columns)
x_train_trf.isnull().mean()*100

Pclass    0.0
Age       0.0
Fare      0.0
dtype: float64

step 7:train your model on this x_train_trf,x_test_trf

In [37]:
lr=LogisticRegression()
lr.fit(x_train_trf,y_train)

y_pred=lr.predict(x_test_trf)

accuracy_score(y_pred,y_test)

0.7486033519553073