MISE/ITERATIVE IMPUTING

In [65]:
import numpy as np 
import pandas as pd 

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.impute import SimpleImputer,IterativeImputer
from sklearn.metrics import accuracy_score

step 2:load your data set

In [66]:
df=pd.read_csv('train.csv',usecols=['Age','Fare','Pclass','Survived'])
df.sample(5)

     Survived  Pclass   Age     Fare
129         0       3  45.0   6.9750
344         0       2  36.0  13.0000
738         0       3   NaN   7.8958
869         1       3   4.0  11.1333
495         0       3   NaN  14.4583

step 3: finding the missing vale=ue percentage in each columns

In [67]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [68]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,1:],df.iloc[:,0],test_size=0.2)

using simle imputer

In [69]:
si=SimpleImputer()
x_train_si=si.fit_transform(x_train)
x_test_si=si.transform(x_test)

lr=LogisticRegression()
lr.fit(x_train_si,y_train)

y_pred=lr.predict(x_test_si)

accuracy_score(y_pred,y_test)

0.7430167597765364

using iterative imputing

In [71]:
ite=IterativeImputer()
x_train_itm=ite.fit_transform(x_train)
x_test_itm=ite.transform(x_test)

In [85]:
lr=LogisticRegression()
lr.fit(x_train_itm,y_train)

y_pred=lr.predict(x_test_itm)
accuracy_score(y_pred,y_test)

0.7430167597765364